@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@300;400;700&display=swap');

:root{
    --font-default: 'Rubik', sans-serif;
    --font-square: 'Permanent Marker', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html{
    font-size: 20px;
}

body{
    font-family: var(--font-default);
    width: 100vw;
    height: 100vh;
}

#root, .game{
    width: 100%;
    min-height: 100%;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.game-board, .game-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding: 20px 0;
}

.game-board{
    min-height: 350px;
    margin: 20px 0;
}

.game-info{
    padding: 20px;
}

.status{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.square{
    background: #fff;
    border: 1px solid #999;
    width: 100px;
    height: 100px;

    font-size: 24px;
    font-weight: bold;

    float: left;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
}

.board-row:after{
    clear: both;
    content: '';
    display: table;
}

.sorting{
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
}

.sorting-option{
    margin: 0 20px;
}

input[type="radio"]{
    margin-right: 5px;
}

li{
    list-style: none;
    margin: 0 20px 0 -20px;
}

.history-item{
    width: 350px;
    padding: 10px;
    margin: 2.5px 0;
    border-radius: 5px;
}