@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@300;400;700&display=swap');

:root{
    --white: #fff;
    --gray: #cacaca;
    --font-default: 'Rubik', sans-serif;
    --font-square: 'Permanent Marker', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html{
    font-size: 20px;
}

body{
    font-family: var(--font-default);
    width: 100vw;
    height: 100vh;
}

#root, .game, .game-wrap{
    width: 100%;
    min-height: 100%;
}

.game{
    padding: 20px;
}

.game-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-board, .game-info{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding: 20px 0;
}

.game-board{
    min-height: 350px;
}

.status{
    width: 350px;
    margin-bottom: 20px;
    padding: 5px;
}

.board-row{
    background-color: var(--gray);
    display: flex;
}

.square{
    background: var(--white);
    border: 0;
    width: 100px;
    height: 100px;

    font-family: var(--font-square);
    font-size: 1.8rem;
    font-weight: bold;
}

.margin-right{
    margin-right: 5px;
}

.margin-left{
    margin-left: 5px;
}

.margin-top{
    margin-top: 5px;
}

.margin-bottom{
    margin-bottom: 5px;
}

.sorting{
    display: flex;
    padding: 10px 0;
    margin-bottom: 20px;
}

.sorting-option{
    margin: 0 15px;
}

input[type="radio"]{
    margin-right: 5px;
}

ol{
    padding: 0;
}

li{
    list-style: none;
}

.history-item{
    width: 350px;
    padding: 10px;
    margin: 2.5px 0;
    border-radius: 5px;
}

@media only screen and (min-width:900px){

    .game-wrap{
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .game-board{
        width: 400px;
    }

    .game-info{
        width: 350px;
    }

    .status{
        width: 300px;
    }

    .square{
        font-size: 2.4rem;
    }

    .sorting{
        margin-bottom: 10px;
        font-size: .9rem;
    }

    .history-item{
        width: 300px;
        font-size: .8rem;
    }
}