@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik:wght@300;400;700&display=swap');

:root{
    --font-default: 'Rubik', sans-serif;
    --font-square: 'Permanent Marker', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-default);
    font-size: 18px;
}

body{
    width: 100vw;
    height: 100vh;
}

#root, .game{
    width: 100%;
    height: 100%;
}

.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.game-board, .game-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status{
    margin-bottom: 10px;
}

li{
    list-style: none;
}

.square{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.board-row:after{
    clear: both;
    content: '';
    display: table;
}

.history-item{
    min-width: 290px;
}